* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  color: #282a36;
}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
body {
  background-color: #4F709C;
}
.cta-pr-btn:hover svg {
  transform: translateX(5px);
}
.imgg {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.imgg.visible {
  opacity: 1;
}

@media screen and (max-width: 598px) {
  #imgsec {
    display: none;
  }
  #homePage {
    display: flex;
    flex-direction: column;
  }
  #phonmeIMG {
    display: flex;
    justify-content: center;
    width: 99vw;
  }
  #phonmeIMG img {
    width: 12rem;
    border-radius: 1rem;
  }
  .whitespace-normal {
    text-align: justify;
    width: 20rem;
  }
  #buttons-Homepage {
    margin-top: 2rem;
  }
.title h1 span{
  font-size:2rem ;
}
  #imgSkil {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    gap: 2rem;
    place-items: center;
    margin-left: 2rem;
    margin-right: 2rem;

  }
  .img {
    width: 3rem;
  }
  #paragrapSkill {
    width: 100vw;
    height: 8rem;
  }
  #ps {
    display: flex;
    padding: 1rem;
    margin-top: 0;
  }
  #button-skills {
    padding: 0;
    margin-top: 20px;
  }
  #containerSkill {
    padding-top: 0;
  }
  #max-md1 {
    margin: 0;
  }
  #max-md2 {
    margin: 0;
  }
  #max-md3 {
    margin: 0;
  }
  #max-md4 {
    margin: 0;
  }
  #max-md5 {
    margin: 0;
  }
  #conCard {
    gap: 10rem;
  }
}
