* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  color: #282A36;
}
body{
  background-color: #FCF8F9;
}
.cta-pr-btn:hover svg {
  transform: translateX(5px);
}
.imgg {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.imgg.visible {
  opacity: 1;
}

@media screen and (max-width: 598px) {
  #imgsec {
    display: none;
  }
  #homePage {
    display: flex;
   flex-direction: column;
  }
  #phonmeIMG{
    display: flex;
    justify-content: center;
    width: 99vw;
  }
#phonmeIMG img{
    width: 12rem;
    border-radius: 1rem;
  }
  #title {
    display: none;
  }
  .whitespace-normal {
    text-align: justify;
    width: 20rem;
  }
  #buttons-Homepage {
    margin-top:2rem;
  }

  #imgSkil {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    gap: 2rem;
    place-items: center;
    padding-left: 2rem;
        padding-right: 2rem;
    padding-top: 2rem;
  }
  .img {
    width: 3rem;
  }
  #paragrapSkill {
    width: 100vw;
  }
  #ps {
    display: flex;
    padding: 1rem;
    margin-top: 0;
  }
  #button-skills{
    margin-top: .5rem;
    padding: 0;
  }
}
